AMO_BASE_URL=https://dimitrieidifesk10.amocrm.ru
AMO_CLIENT_ID=
AMO_CLIENT_SECRET=
AMO_REDIRECT_URI=

AMO_PIPELINE_ID_MASTER=9934510
AMO_STAGE_ID_MASTER_NEW=78909402
AMO_PIPELINE_ID_OPERATOR=9934514
AMO_STAGE_ID_OPERATOR_NEW=78909418

ROUTING_KEYWORD_MASTER=мастер
ROUTING_KEYWORD_OPERATOR=оператор

HH_CLIENT_ID=
HH_CLIENT_SECRET=
HH_REDIRECT_URI=

AVITO_CLIENT_ID=
AVITO_CLIENT_SECRET=
AVITO_REDIRECT_URI=

HH_SYNC_ENABLED=false
AVITO_SYNC_ENABLED=false
AVITO_MARK_READ_ON_STAGE_CHANGE=true

ADMIN_TOKEN=
AMO_CHATS_BASE=https://amojo.amocrm.ru
AMO_CHATS_SCOPE_ID=
AMO_CHATS_SECRET=
AMO_CHATS_CHANNEL_ID=
AMO_CHATS_ACCOUNT_ID=
AMO_CHATS_SENDER_USER_AMOJO_ID=
